.bg {
    background-image: url("../images/icecreambg.jpg" );
    background-size: cover;
    color: white;
}

.pad {
    padding:20px;
    margin:20px 0px 20px 0px;
}

.footer {
   position: fixed;
   padding: 5px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: white;
   text-align: center;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


