.bg {
    background-image: url("../images/icecreambg.jpg" );
    background-size: cover;
    color: white;
}

.padding {
    padding:20px;
    margin:20px 0px 20px 0px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: grey;
  text-align: center;
}


